<section data-ng-controller="ArticlesController" data-ng-init="findAll()">

    <div class="row" style="margin-top: -50px">
        <div class="col-lg-12">
            <img src="/modules/core/img/main/main.jpg" width='100%'>
        </div>
    </div>

    <hr>
    
    <div class="row">
        <div class="col-xs-12">
          <div>
            <h2>세월호 참사에 대한 정부의 위기대응 대책에 문제가 없었다?</h2>
            <em><h6>* 클릭 정보는 기록되지 않습니다. 그러나 장난으로는 클릭하지 말아주세요.</h6></em>
          </div>  
          <div class="range">
            <outputleft ng-click="voteNo(vote);" id="rangePrimary" >NO ({{vote.no}})</outputleft>
            <outputright ng-click="voteYes(vote);" id="rangePrimary" >YES ({{vote.yes}})</outputright>
          </div>
        </div>

    </div>

    
    <hr>

    <div class="row" style="margin-top:50px;">

        <div class="col-lg-12">
            <div class="alert" data-ng-show="noty" ng-init="noty=true">
              <button type="button" class="close" data-dismiss="alert" data-ng-click="noty=!noty" aria-hidden="true">&times;</button>
              <strong>내용을 클릭하면 본문 글의 링크로 이동합니다.</strong>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <a class="btn pull-right" data-ng-href="#!" data-ng-click="toggleMode();" ng-show="is_newest" ng-init="is_newest=true"><span><strong>관심이 높은 글 순으로 정렬</strong></span></a>
            <a class="btn pull-right" data-ng-href="#!" data-ng-click="toggleMode();" ng-show="!is_newest" ng-init="is_newest=true"><span><strong>최신 등록된 순으로 정렬</strong></span></a>

        </div>
    </div>
    

    
    <div class="row">
        <div class="col-lg-12">
            <div class="list-group" data-ng-repeat="article in articles">
                <a data-ng-href="{{article.url}}" class="list-group-item ariticle-panel">
                    <div class="header-panel">
                        <h4 class="list-group-item-heading" style="color: #EEEEEE"><strong>{{article.title}}</strong></h4>
                    </div>
                </a>
                <a data-ng-href="{{article.url}}" class="list-group-item ariticle-panel">    
                    <p class="list-group-item-text">{{article.content | limitTo: 1000}}</p>

                    <div class="row">
                        <div class="col-lg-12">
                            <hr>
                            <h5 class="list-group-item-text" ng-show='article.url'>관련글: {{article.url}}</h5>
                        </div>
                    </div>
                </a>
                <a data-ng-href="#!" class="list-group-item ariticle-panel" data-ng-click="voting(article);">
                    <p>
                        <small class="list-group-item-text">{{article.created | date:'medium'}} / {{article.user.displayName}}</small>
                        <span class="pull-right"><strong>손가락으로 하늘을 가릴쏘냐 | {{article.votes || 0}} </strong></span>
                    </p>
                </a>
                
            </div>



            <div class="alert alert-warning text-center" data-ng-hide="!articles || articles.length">
            	No articles yet, why don't you <a href="/#!/articles/create">create one</a>?
            </div>
        </div>
    </div>
</section>