<section data-ng-controller="BoardsController">
    <div class="page-header">
        <h1>to 박근혜 대통령</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()">
            <fieldset>
                <div class="form-group">
                    <div class="alert alert-success">
                      박근혜 대통령에게 하고 싶은 메시지를 남겨주세요.
                    </div>
                    <div class="controls">
                        <input type="text" data-ng-model="content" id="content" class="form-control" placeholder="손가락으로 하늘을 가릴쏘냐.." required>
                    </div>
                    
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>