<section data-ng-controller="BoardsController" data-ng-init="find()">

    <div class="row" style="margin-top: -50px">
        <div class="col-lg-12">
            <img src="/modules/boards/img/park.jpg" width='100%'>
        </div>
    </div>

    <div class="page-header">
        <a href="/#!/boards/create" class="btn btn-warning">
          <strong>to 박근혜 대통령</strong>
        </a>
    </div>
    
    <div class="list-group">
        <a data-ng-repeat="board in boards" data-ng-href="#!/boards/{{board._id}}" class="list-group-item" style="margin-bottom:10px;">
            <strong class="list-group-item-text">{{board.user.displayName}}</strong>
            <small class="list-group-item-text pull-right">{{board.created | date:'medium'}}</small>
            <hr style="margin-top:10px;"/>
            <h5 class="list-group-item-heading">{{board.content}}</h5>
        </a>
    </div>
</section>