<section data-ng-controller="BoardsController" data-ng-init="find()">

    <div class="row" style="margin-top: -50px">
        <div class="col-lg-12">
            <img src="/modules/boards/img/park.jpg" width='100%'>
        </div>
    </div>

    <div class="page-header">
        <a href="/#!/boards/create" class="btn btn-warning">
          <strong>to 박근혜 대통령</strong>
        </a>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <a class="btn pull-right" data-ng-href="#!/boards" data-ng-click="toggleMode();" ng-show="is_newest" ng-init="is_newest=true"><span><strong>관심이 높은 글 순으로 정렬</strong></span></a>
            <a class="btn pull-right" data-ng-href="#!/boards" data-ng-click="toggleMode();" ng-show="!is_newest" ng-init="is_newest=true"><span><strong>최신 등록된 순으로 정렬</strong></span></a>

        </div>
    </div>
    
    <div class="list-group" data-ng-repeat="board in boards">
        
        <a data-ng-href="#!/boards/{{board._id}}" class="list-group-item" style="margin-bottom:10px;">
                <strong class="list-group-item-text">{{board.user.displayName}}</strong>
                <small class="list-group-item-text pull-right">{{board.created | date:'medium'}}</small>
                <hr style="margin-top:10px;"/>
                <h5 class="list-group-item-heading">{{board.content}}</h5>
        </a>

        <a data-ng-href="#!/boards" class="list-group-item btn" data-ng-click="voting(board);">
            <strong>공감 | {{board.votes}}</strong>
        </a>
        
        
    </div>
</section>