<section data-ng-controller="BoardsController" data-ng-init="findAll()">

    <div class="row" style="margin-top: -50px">
        <div class="col-lg-12">
            <img src="/modules/core/img/main/main.jpg" width='100%'>
        </div>
    </div>

    <hr style="margin-top: 50px">

    <div class="row">
        <div class="col-xs-12">
          <div>
            <h2>朴대통령, 국정운영 잘하고 있다.?</h2>
            <em><h6>* 클릭 정보는 기록되지 않습니다. 그러나 장난으로는 클릭하지 말아주세요.</h6></em>
          </div>  
          <div class="range">
            <outputleft ng-click="voteNo(vote);" id="rangePrimary" ><strong>NO ({{vote.no}})</strong></outputleft>
            <outputright ng-click="voteYes(vote);" id="rangePrimary" ><strong>YES ({{vote.yes}})</strong></outputright>
          </div>
        </div>
    </div>

    <hr style="margin-top: 50px">
    <div class="page-header" >
        <a href="/#!/boards/create" class="btn btn-warning">
          <strong>to 박근혜 대통령</strong>
        </a>
    </div>
    
    

    <div class="row">
        <div class="col-lg-12 pull-right">
            <h5 class="pull-left"><strong><span style="color: #BC4133"><i class="fa fa-thumbs-up"></i> 관심도가 가장 높은 글</span></strong></h5>
        </div>
    </div>

    <div class="list-group" data-ng-repeat="popular in popularBoards" style="margin-bottom:50px;">
        <a style="margin:0px" data-ng-href="{{popular.user.providerData.link}}" class="list-group-item popular" >
                <em><strong class="list-group-item-text">{{popular.user.displayName}}</strong></em>
                <small class="list-group-item-text pull-right">{{popular.created | date:'medium'}}</small>
        </a>
        <a style="margin:0px" data-ng-href="#!/boards/{{popular._id}}" class="list-group-item" >
                <h4 class="list-group-item-heading">{{popular.content | limitTo: 100}}</h4>
        </a>

        <a style="margin:0px" data-ng-href="#!/boards" class="list-group-item btn" data-ng-click="voting(board);">
            <h4><strong style="color:#BC4133"><i class="fa fa-thumbs-up"></i> [ {{popular.votes}} ]</strong></h4>
        </a>
    </div>

    <hr style="margin-top: 50px">

    <div class="row">
        <div class="col-lg-12" >
            <a class="btn pull-left" data-ng-href="#!/boards" data-ng-click="toggleMode();" ng-show="is_newest" ng-init="is_newest=true"><h5><strong><span style="color: #0059A6"><i class="fa fa-repeat"></i> 관심이 높은 글 순으로 정렬</span></strong></h5></a>
            <a class="btn pull-left" data-ng-href="#!/boards" data-ng-click="toggleMode();" ng-show="!is_newest" ng-init="is_newest=true"><h5><strong><span style="color: #0059A6"><i class="fa fa-repeat"></i> 최신 등록된 순으로 정렬</span></strong></h5></a>

        </div>
    </div>
    
    <div class="list-group" data-ng-repeat="board in boards" style="margin-bottom:50px;">
        <a data-ng-href="{{board.user.providerData.link}}" class="list-group-item">
                <em><strong class="list-group-item-text">{{board.user.displayName}}</strong></em>
                <small class="list-group-item-text pull-right">{{board.created | date:'medium'}}</small>
        </a>
        <a data-ng-href="#!/boards/{{board._id}}" class="list-group-item">
                <h4 class="list-group-item-heading">{{board.content | limitTo: 100}}</h4>
        </a>
        <a data-ng-href="#!/boards" class="list-group-item btn" data-ng-click="voting(board);">
            <strong style="color:#0059A6"><i class="fa fa-thumbs-up"></i> [ {{board.votes}} ]</strong>
        </a>
        
        
    </div>
</section>